<h1> Sign in </h1>
<form action='/login' method='post'>
	<p>
	Username:<input type="text" name="username" ></input><br><br>
	Password:<input type="text" name="password" ></input>
	</p>
	<input type="submit" name="submit">
	<br>
	<p>
	<span style="color: green;"> use snk/12345 for admin</span>
	</p>
</form>